In [1]:
print("hello world ")

hello world

In [2]:
print('hello world')

hello world

In [3]:
a=5
print(type(a))

<class 'int'>

In [4]:
import math
print(math.floor(2.34))
print(math.cos(1))
print(math.sin(1))
print(math.sin(0))

2
0.5403023058681398
0.8414709848078965
0.0

In [5]:
a=4
b=3
c= "This is me"
print(a+b)
print(a%b)
print(c)

7
1
This is me

In [6]:
a='1'
b='2'
print(a+b)

12

In [7]:
str1= "this is my first python program"
print(str1.upper())
print(str1.find("this"))
print(str1.capitalize())
print(str1.lower())

THIS IS MY FIRST PYTHON PROGRAM
0
This is my first python program
this is my first python program

In [8]:
## LIST 
cars_no = [1,2,3,4,5]
print(cars_no)
print(type(cars_no))
product = ["yameha",2,4, "addidas"]
print(product)
print(type(product))

[1, 2, 3, 4, 5]
<class 'list'>
['yameha', 2, 4, 'addidas']
<class 'list'>

In [9]:
abc=[1,2,3,4,5,6,7,8,9,10,'a','b',"c"]
print(abc)
print(type(abc))
abc[0]='yameha'
abc[12]="yameha"
print(abc)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c']
<class 'list'>
['yameha', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'yameha']

In [10]:
#use of tuple---> we can't change value of tuple 
tupe1=(1,2,3,4,5,6)
print(tupe1)
print(type(tupe1))

print(tupe1)
print(type(tupe1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [11]:
dict1={}
print (dict1)
print(type(dict1))
dict1 ["virat"] = 50
dict1 ["kl rahul"]=45
dict1 ['pujara']=155
dict1 ['rohit']=0
print(dict1.get('kl rahul'))
print(dict.items(dict1))
s1=set(dict1)
print(s1)

{}
<class 'dict'>
45
dict_items([('virat', 50), ('kl rahul', 45), ('pujara', 155), ('rohit', 0)])
{'virat', 'pujara', 'kl rahul', 'rohit'}

In [12]:
s= "what is your name "
print(s.capitalize())
print(s.upper())
print(s.lower())

What is your name
WHAT IS YOUR NAME
what is your name

In [13]:
cars = [1,2,3,4,5,6]
print(cars)
cars[3]=55
cars[1]="yameha"
print(cars)
print(cars[0:3])
print(cars[0:2])
print(type(cars))

[1, 2, 3, 4, 5, 6]
[1, 'yameha', 3, 55, 5, 6]
[1, 'yameha', 3]
[1, 'yameha']
<class 'list'>

In [14]:
cars=(1,2,3,4,5)
print(type(cars))

<class 'tuple'>

In [15]:
marks = [2,32,24,23,55,890,23,989]
marks.sort()
print(marks)
marks.reverse()
print(marks)

[2, 23, 23, 24, 32, 55, 890, 989]
[989, 890, 55, 32, 24, 23, 23, 2]